html {
    overflow: hidden;
    font-size: 1px;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Medium.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Medium.woff') format('woff'),
        url('../fonts/RobotoSlab-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    font-family: Arial, sans-serif;
}

body {
    cursor: url('../img/cursor2.cur'), auto;
}

body a {
    cursor: url('../img/cursor.cur'), auto;
}

.wrapper {
    margin: 0 auto;
    padding: 0 10rem;
    max-width: 960rem;
}

#gap {
    display: flex;
    gap: 10rem;
}

.center {
    display: flex;
    justify-content: center;
}

.space_between-contacts {
    display: grid;
    grid-template-rows: repeat(4 1fr);
}

.space_between {
    display: flex;
    justify-content: space-between;
}

.space_between-header {
    display: block;
}

.flex {
    display: flex;
    align-items: center;
    gap: 10rem;
}

.burger-flex {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

.menu1 {
    position: fixed;
    background-color: #1f1f56;
    top: 0;
    left: -100%;
    z-index: 2;
    min-height: 100vh;
    transition: all .5s ease;
}

#burger {
    display: block;
}

#burgercancel {
    position: absolute;
    right: 5rem;
    top: 5rem;
    display: block;
    font-size: 20rem;
    color: #666;
}

.items_center {
    display: flex;
    align-items: center;
}

.text-align {
    text-align: center;
}

.text-align-end {
    text-align: end;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 12rem;
}

.contacts-h2 {
    font-size: 14rem;
    line-height: 24rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.iframes {
    font-style: italic;
}

textarea {
    width: 94vw;
    height: 105rem;
    max-width: 466rem;
    max-height: 105rem;
    margin-bottom: 13rem;
    padding: 10px;
    font-style: italic;
}

#contacts-margin-bottom {
    margin-bottom: 30rem;
}

.column-contacts {
    display: flex;
    gap: 12rem;
    flex-direction: column;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    display: flex;
    grid-area: header;
    flex-direction: column;
}

.relative {
    position: relative;
}

#darkbgc {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 15, 25, 0.9);
    backdrop-filter: blur(1rem);
    z-index: 1;
}

input {
    width: 100%;
    outline: none;
}

#cancel {
    position: absolute;
    display: block;
    right: 14rem;
    top: 14rem;
    max-width: fit-content;
    font-size: 20rem;
    line-height: 14rem;
    color: #a5a7a8;
}

#cancel {
    cursor: url('../img/cursor.cur'), auto;
}

#popup-margin {
    margin: 10rem 0;
}

#popup h2 {
    font-size: 24rem;
    line-height: 24rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    margin-bottom: 19rem;
}

#popup {
    position: fixed;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    max-width: 360rem;
    padding: 27rem 30rem;
    background-color: #fff;
    border-radius: 5rem;
}

.popup-inputs input {
    padding: 10rem;
    border: 1rem solid #c5c5d4;
}

.popup-button {
    cursor: url('../img/cursor.cur'), auto;
}

.popup-button {
    border: 2rem solid #fd8300;
    background-color: transparent;
    border-radius: 22rem;
    width: 100%;
    transition: .5s;
}

.popup-button:hover {
    border: 2rem solid #fd8300;
    background-color: #fd8300;
}

.popup-button:hover p {
    color: #fff;
}

.popup-button p {
    width: 100%;
    padding: 9.5rem;
    font-size: 14rem;
    line-height: 24rem;
    color: #000000;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    transition: .5s;
}

.header_blue {
    width: 100%;
    background-color: #1f1f56;
}

.box-shadow {
    box-shadow: 0 0 5rem 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 40rem;
}

.menu1 {
    display: flex;
    flex-direction: column;
    gap: 20rem;
    list-style: none;
}

.menu1 a {
    color: #b1b1d2;
    font-size: 14rem;
    letter-spacing: 2rem;
    transition: .5s;
}

.menu1 li:hover>a {
    color: #fd8300;
}

.svgs {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15rem;
    list-style: none;
}

.svgs a {
    display: block;
}

path {
    transition: .5s;
}

a:hover>svg path {
    fill: #fd8300;
}

.headerwhigt {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    gap: 20rem;
    padding: 32rem 0 29rem;
}

.skype,
.gmail {
    display: flex;
    gap: 10rem;
}

.contacts a {
    color: #25252c;
    font-size: 18rem;
    font-weight: bold;
    text-decoration: none;
    transition: .3s;
}

.contacts a:hover {
    color: #fd8300;
    text-decoration: underline;
}

.contacts_link:hover {
    color: #fd8300;
}

.contacts-no2 {
    padding-left: 20rem;
}

.gmail {
    font-size: 16rem;
    line-height: 1.5em;
}

.gmail a {
    color: #25252c;
    font-size: 16rem;
    line-height: 1.5em;
    text-decoration: underline;
    transition: .3s;
}

.gmail a:hover {
    color: #fd8300;
}

.skype a {
    color: #25252c;
    font-size: 16rem;
    line-height: 1.5em;
    text-decoration: none;
    transition: .3s;
}

.skype a:hover {
    color: #fd8300;
}

.signup-btn {
    padding: 15rem 18rem;
    color: #25252c;
    font-size: 16rem;
    font-weight: bold;
    line-height: 1.5em;
    text-align: center;
    text-decoration: none;
    border: 2rem solid #fd8300;
    border-radius: 35rem;
    transition: .4s;
}

.signup-btn:hover {
    background-color: #fd8300;
    color: #fff;
}

.divider-line {
    margin: 30rem 0;
    height: 1rem;
    background-color: #dcdce6;
}

.offer {
    margin-bottom: 42rem;
    padding: 60rem 20rem;
    text-align: center;
    background-image: url('../img/hata.png');
    background-size: cover;
    background-position: center;
}

.offer-p1 {
    margin-bottom: 12rem;
    color: #ffffff;
    font-size: 30rem;
    font-family: "Roboto Slab";
    font-weight: bold;
    letter-spacing: 2rem;
    text-transform: uppercase;
}

.offer-p2 {
    margin-bottom: 16rem;
    flex-wrap: wrap;
    color: #ffffff;
    font-size: 14rem;
}

.offer-b1 {
    color: #fd8300;
    font-size: 40rem;
    font-weight: bold;
}

.offer-b2 {
    color: #fd8300;
    font-size: 24rem;
    font-weight: bold;
}

#header-ulinul {
    display: flex;
    position: relative;
    flex-direction: column;
}

#header-ulinul:hover>.header-ulinul {
    display: block;
}


.header-ulinul {
    position: absolute;
    display: none;
    top: calc(100% + 5rem);
    z-index: 1;
    min-width: 125rem;
    border-radius: 3rem;
    background-color: #e4e4ec;
}

.header-ulinul li:nth-child(1):hover {
    border-radius: 3rem 3rem 0 0;
}

.header-ulinul li:nth-last-child(1):hover {
    border-radius: 0 0 3rem 3rem;
}

.li-height {
    padding: 18rem 10rem;
}

.header-last-ulinul::before {
    content: "";
    position: absolute;
    right: -5rem;
    width: 100%;
    height: 100%;
}

.header-ulinul::before {
    content: "";
    position: absolute;
    top: -5rem;
    width: 100%;
    height: 100%;
}

.header-ulinul li {
    transition: .5s;
}

.header-ulinul li:hover {
    background-color: #fd8300;
}

.header-ulinul li:hover>a {
    color: #fff;
}

.class {
    font-size: 13rem;
    line-height: 21rem;
    color: #666666;
}

.galochka {
    max-width: 15rem;
}

.checkbox-wrap input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.custom-checkbox {
    min-width: 15rem;
    min-height: 15rem;
    border-radius: 3rem;
    background-color: #ffffff;
    border: 2rem solid #c5c5d4;
    display: inline-block;
    position: relative;
}

.custom-checkbox::after {
    content: "";
    position: absolute;
    width: 5rem;
    height: 7rem;
    border-right: 2.5rem solid #1f1f56;
    border-bottom: 2.5rem solid #1f1f56;
    transform: rotate(45deg);
    bottom: 3rem;
    left: 3rem;
    opacity: 0;
}

.checkbox-wrap input[type="checkbox"]:checked+.custom-checkbox::after {
    opacity: 1;
}

.checkbox-wrap {
    display: flex;
    align-items: center;
    gap: 10rem;
}

.header-ulinul li a {
    position: relative;
    padding: 3.7rem 10rem;
    font-size: 12rem;
    letter-spacing: 2rem;
    line-height: 2em;
    color: #25252c;
}

.header-ulinul li {
    padding: 2.7rem 0;
}

.header-ulinul a:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 107rem;
    display: block;
    width: 8rem;
    height: 8rem;
    border-top: 2rem solid #666666;
    border-right: 2rem solid #666666;
    transform: translateY(-50%) rotate(45deg);
    transition: 0.5s;
}

.header-ulinul li+li {
    border-top: 1rem solid #cecedd;
}

.header-last-ulinul {
    position: relative;
}

.header-ulinul .ulinulinul li {
    padding: 0;
}

.header-ulinul .ulinulinul li a {
    padding: 2.7rem 10.7rem;
}

.ulinulinul {
    position: absolute;
    display: none;
    left: calc(100% + 5rem);
    top: 0;
    min-width: 125rem;
    border-radius: 3rem;
    background-color: #e4e4ec;
}

.ulinulinul li a {
    display: block;
    font-size: 12rem;
    letter-spacing: 2rem;
    line-height: 24rem;
    color: #25252c;
}

.header-ulinul li:hover>a:before {
    border-color: #fff;
    transform: translateY(-50%) rotate(135deg);
}

.ulinulinul a:before {
    border-color: transparent;
}

.header-ulinul li:hover>.ulinulinul {
    display: block;
}

.ulinulinul li:hover>a:before {
    border-color: transparent;
}

.table-company {
    margin-bottom: 22rem;
    color: #24242b;
    font-size: 24rem;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.map {
    position: relative;
    overflow: hidden;
    max-width: 466rem;
    max-height: 299rem;
    min-height: 299rem;
    width: 100%;
}

.map iframe {
    position: absolute;
    left: -1px;
    top: -60rem;
    width: 100%;
    height: 100%;
    min-height: 355rem;
}

.company {
    margin-bottom: 28rem;
    color: #24242b;
    font-size: 30rem;
    font-weight: 700;
    font-family: "Roboto Slab";
}

main {
    overflow: hidden;
    grid-area: main;
}

.main-text {
    display: flex;
    flex-wrap: wrap;
}

.main-text p {
    max-width: 699rem;
    color: #666666;
    font-size: 14rem;
    line-height: 1.7em;
}

.mtp1 {
    margin-bottom: 23rem;
}

.main-text-p2 {
    margin-bottom: 25rem;
}

.mau {
    color: #25252c;
    font-size: 14rem;
    line-height: 1.7em;
    text-decoration: none;
    transition: .5s;
}

.mau:hover {
    color: #fd8300;
    text-decoration: underline;
}

.prise {
    padding: 23rem 20rem;
    text-align: right;
}

.table {
    overflow: hidden;
    border-radius: 3rem;
    min-width: 940rem;
    width: 100%;
}

table,
td {
    border: 1rem solid #cecedd;
    border-collapse: collapse;
}

table th {
    font-size: 14rem;
    line-height: 24rem;
    color: #fff;
    background-color: #1f1f56;
    font-weight: bold;
    font-family: "Roboto Slab";
}

th {
    border: 1rem solid #274569;
    border-collapse: collapse;
}

.first-th {
    padding: 23rem 20rem;
    text-align: left;
}

td {
    background-color: #e4e4ec;
}

tr td {
    transition: .4s;
}

tr:hover td {
    border: 1rem solid #fd8300;
    background-color: #fd8300;
}

tr a {
    transition: .4s;
}

tr:hover a {
    color: #fff;
}

td a {
    display: inline-block;
    font-size: 14rem;
    line-height: 24rem;
    color: #666;
    padding: 8rem 20rem;
}

.table-p {
    display: flex;
    flex-wrap: wrap;
}

.table-adaptive {
    overflow-x: auto;
    max-width: 95vw;
}

.main-text-table {
    margin-bottom: 27rem;
}

.contacts-iframes {
    width: 100%;
    max-width: 466rem;
}

.contacts-iframes h2 {
    margin-bottom: 22rem;
    font-size: 14rem;
    line-height: 24rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.iframes {
    padding: 10.4rem;
}

.iframes-div {
    width: 50%;
}

#contacts-button {
    max-width: 144rem;
    min-width: 144rem;
}

#contacts-iframes {
    display: flex;
    gap: 28rem;
    margin-bottom: 41rem;
}

.contacts-forms-grid {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 10rem;
}

.more-info {
    margin: 25rem 0;
    font-size: 13rem;
    line-height: 21rem;
    color: #666;
    font-family: "Arial";
}

.contacts-p1 {
    font-size: 14rem;
    line-height: 21rem;
    color: #666666;
}

.contacts-p-margin {
    margin: 12rem 0 14rem;
}

.contacts-p {
    font-size: 14rem;
    line-height: 21rem;
    color: #666666;
}

#contactsmessage {
    margin: 10rem 0;
}

.driver {
    display: none;
}

.projects-title {
    display: inline-block;
    margin-bottom: 23rem;
    color: #24242b;
    font-size: 24rem;
    font-weight: 700;
    font-family: "Roboto Slab";
}

figcaption {
    position: relative;
}

.project-a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.project-card img {
    transition: .7s;
}

#aside-section {
    margin-bottom: 15rem;
}

.section {
    display: flex;
    justify-content: center;
}

.aside-section {
    display: flex;
    justify-content: center;
}

.projects-flex {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 20rem;
}

.table-projects-flex {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 20rem;
}

.project-card-hover {
    text-decoration: none;
}

figcaption h3 {
    text-decoration: none;
}

figcaption a:hover~h3 {
    text-decoration: underline;
}

figcaption a:hover~picture>img {
    transform: scale(1.05);
}

.project-card {
    margin-bottom: 33rem;
    background: #fff;
    transition: 0.3s;
}

.project-image {
    display: block;
    width: 100%;
}

.project-card h3 {
    color: #1f1f56;
    font-size: 14rem;
    font-weight: bold;
    font-family: "Arial";
    line-height: 1.7em;
}

.project-card p {
    width: 220rem;
    color: #9999a6;
    font-size: 13rem;
    line-height: 1.3em;
}

aside {
    width: 100%;
}

aside p {
    padding: 15rem 14rem;
    color: #fff;
    font-size: 16rem;
    font-weight: bold;
    font-family: "Roboto Slab";
    line-height: 1.5em;
    background-color: #1f1f56;
    border-radius: 3rem 3rem 0 0;
}

.ul2 {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.ul2 li {
    background-color: #e4e4ec;
}

.ul2 li+li {
    border-top: 1rem solid #cecedd;
}

.ul2 li a {
    position: relative;
    display: block;
    padding: 15rem 14rem;
    color: #25252c;
    font-size: 14rem;
    line-height: 1.7em;
    transition: 0.3s;
}

.ul2 a:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 15rem;
    display: block;
    width: 8rem;
    height: 8rem;
    border-top: 2rem solid #666666;
    border-right: 2rem solid #666666;
    transform: translateY(-50%) rotate(45deg);
    transition: 1s;
}

.ul2 li:hover>a:before {
    border-color: #fff;
    transform: translateY(-50%) rotate(135deg);
}

.ul2 li:hover>a {
    color: #fff;
    background-color: #fd8300;
    border: none;
}

.ulinul {
    display: none;
}

.ul2 li:hover>.ulinul {
    display: block;
}

.ulinul li {
    background-color: #e4e4ec;
}

.ulinul li a {
    padding: 15rem 30rem;
    color: #666666;
    font-size: 14rem;
    line-height: 1.7em;
    background-color: #e4e4ec;
    border: none;
    transition: 0.3s;
}

.ulinul a:before {
    border-color: transparent;
}

.ulinul li:hover>a:before {
    border-color: transparent;
    transform: translateY(-50%) rotate(135deg);
}

.ulinul li:hover>a {
    color: #666666;
    background-color: #cecedd;
    border: none;
}

.last-li {
    border-radius: 0 0 3rem 3rem;
}

footer {
    grid-area: footer;
    background-color: #ededf5;
}

.foter {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 30rem;
    padding: 41rem 0 30rem;
}

.ul3 a {
    color: #666666;
    font-size: 14rem;
    line-height: 1.8em;
    transition: .3s;
}

.ul3 li:hover>a {
    color: #fd8300;
    text-decoration: underline;
}

.footer-contacts {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20rem;
}

.contacts-main-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-gray {
    padding: 16rem;
    color: #9999;
    font-size: 13rem;
    line-height: 1.3em;
    text-align: center;
    background-color: #dcdce6;
}

@media screen and (min-width: 500px) {
    #burger {
        display: none;
    }

    #burgercancel {
        display: none;
    }

    .menu1 {
        position: static;
        display: flex;
        flex-direction: row;
        min-height: 55rem;
        justify-content: space-between;
        column-gap: 10px;
    }

    .main-text {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .menu li {
        padding: 15px 10px;
    }

    .cancel {
        display: none;
    }

    .li-height {
        padding: 18rem 0;
    }
}

@media screen and (min-width: 320px) {

    .map iframe {
        position: absolute;
        left: -1px;
        top: -78rem;
        width: 100%;
        height: 100%;
        min-height: 355rem;
    }
}

@media screen and (min-width: 425px) {
    html {
        font-size: .8px;
    }

    .map iframe {
        position: absolute;
        left: -1px;
        top: -77rem;
        width: 100%;
        height: 100%;
        min-height: 355rem;
    }
}

@media screen and (min-width: 530px) {
    html {
        font-size: .8px;
    }

    .headerwhigt {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        gap: 20rem;
        padding: 32rem 0 29rem;
    }

    .table-projects-flex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2fr;
    }

    .foter {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2fr;
    }

    .space_between-contacts {
        display: grid;
        gap: 10rem;
        grid-template-columns: repeat(3, 1fr)
    }
}

@media screen and (min-width: 590px) {
    html {
        font-size: .8px;
    }

    .projects-flex {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: .9px;
    }

    .map iframe {
        position: absolute;
        left: -1px;
        top: -69rem;
        width: 100%;
        height: 100%;
        min-height: 355rem;
    }

    .contacts-main-grid {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .driver {
        display: block;
        margin: 33rem 0;
        height: 1rem;
        background-color: #dcdce6;
    }

    .foter {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .section {
        display: block;
    }

    .center {
        display: block;
    }

    .table-adaptive {
        overflow-x: auto;
        max-width: 767rem;
    }
}


@media screen and (min-width: 900px) {
    html {
        font-size: .9px;
    }

    .table-projects-flex {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }

    .headerwhigt {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        align-items: center;
        gap: 30rem;
        padding: 32rem 0 29rem;
    }

    .space_between-contacts {
        display: grid;
        gap: 15rem;
        grid-template-columns: repeat(3, 1fr)
    }
}

@media screen and (min-width: 320px) {}

@media screen and (min-width: 1024px) {
    html {
        font-size: 1px;
    }

    .map iframe {
        position: absolute;
        left: -1px;
        top: -67rem;
        width: 100%;
        height: 100%;
        min-height: 355rem;
    }

    aside {
        width: 100%;
        min-width: 240rem;
    }

    .table-adaptive {
        overflow-x: visible;
        max-width: none;
    }

    .table-projects-flex {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        gap: 20rem;
    }

    #aside-section {
        margin-bottom: 0;
    }

    .aside-section {
        display: block;
    }

    .main {
        display: flex;
        gap: 20rem;
    }

    .table-adaptive {
        overflow-x: auto;
        max-width: none;
    }
}

@media screen and (min-width: 1440px) {
    html {
        font-size: 1.1px;
    }
}

@media screen and (min-width: 1920px) {
    html {
        font-size: 1.5px;
    }

    .img-4k {
        min-width: 15rem;
    }

    .logo-4k {
        min-width: 170rem;
    }
}

@media screen and (min-width: 2200px) {
    html {
        font-size: 1.7px;
    }
}